#app {
    height: 100%;

    .app-main-column {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;

        mat-toolbar,
        .filter-row,
        .user-cards {
            display: flex;
            flex-direction: row;
        }

        mat-toolbar {
            background-color: #4f3b78;
            color: #eee;
        }

        .filter-row {
            padding: 15px 20px 0 20px;

            .search-bar,
            .sort-dropdown,
            .sort-direction {
                display: flex;
                flex-direction: column;
            }

            .search-bar {
                flex: 1;

                button {
                    color: #fff;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            .sort-dropdown {
                flex-basis: 350px;
                margin-left: 20px;
            }

            .sort-direction {
                flex-basis: 200px;
                margin-left: 20px;
            }

            ::ng-deep {
                .mat-form-field-appearance-outline .mat-form-field-outline {
                    color: white;
                }
                mat-form-field {
                    .mat-hint,
                    input,
                    ::placeholder,
                    .mat-form-field-label,
                    .mat-select-value-text,
                    .mat-select-arrow {
                        color: white;
                    }

                    .mat-form-field-label {
                        font-size: 15px;
                    }

                    .mat-select-value-text {
                        font-size: 19px;
                    }
                }

                input {
                    font-size: 20px;
                }

                .mat-input-element {
                    caret-color: #fff !important;
                }
            }
        }

        .user-cards {
            flex-wrap: wrap;

            user-card {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .fab {
        position: fixed;
        bottom: 30px;
        right: 30px;
        background-color: #927fbf;
        color: #eee;
    }
}

@media screen and (min-width: 1251px) {
    user-card {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 1250px) {
    user-card {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 700px) {
    .filter-row {
        flex-wrap: wrap;
    }

    .search-bar,
    .sort-dropdown,
    .sort-direction {
        flex-basis: 100%;
        flex: 1;
        margin: 0 !important;
    }
}

@media screen and (max-width: 650px) {
    user-card {
        flex-basis: 100%;
    }
}
